<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/">HOME</a>
        <a href="/Contact">Contact Us</a>
        <a href="/Services">Our Services</a>
    </nav>
    <h1>Home page</h1> 
    <img src="https://www.keysight.com/content/dam/keysight/en/img/home-page-image/build_homepage_img.jpg" alt="">
</body>
</html>